
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
/out/

# Mac
.DS_Store

# Maven
log/
target/

# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

tmp/*

doc/*
